<head> 
<tittle>listing index</tittle>
</head>
<br><br><br><br>


<h1> Available Rooms for your booking</h1>
<br><br>
<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Price</th>
  </tr>


<% @listings.each do |l| %>
  <tr> 
    <td><%= link_to l.listing_name, listing_path(l) %>
      </td>
    <td><%= l.city %></td>
    <td><%= l.price %></td>
    
  </tr>
<% end %>
</table>

<%= link_to "Become a host", new_user_listing_path(current_user.id) %>
<br><br>
<%= paginate @listings %> 
<%= page_entries_info @listings %>