<!DOCTYPE html>
<html>
<head>
    <title>PairBnBClone</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="header">
    <% if signed_in? -%>
      <%= button_to "Sign Out", sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to "Sign In", sign_in_path %>
    <% end -%>
  </div>

   <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%= value %></div>
    <% end %>
  </div>


  
  <%= yield %>
</body>
</html>
